.app {
    width: 400px;
    margin: 0 auto;
    padding: 10px;
    background-color: rgb(209, 209, 209);
    min-height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 50px;
    &__input {
        background-color: transparent;
        border-bottom: 1px solid black;
        padding: 0 5px;
    }
    &__btn {
        background-color: transparent;
        color: black;
    }
}

.favourite {
    padding: 15px 0;
    &__headline {
        text-align: center;
    }
    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0;
        overflow: auto;
        & > li {
            text-align: center;
        }
        & > li > img {
            border-radius: 50%;
            width: 80px;
            height: 80px;
        }
        & > li > span {
            text-transform: lowercase;
        }
    }
}

.meal {
    overflow: hidden;
    &__header {
        position: relative;
        & .random {
            position: absolute;
            top: 10px;
            background-color: #fff;
            padding: 0.5rem;
            z-index: 1;
        }
        img {
            width: 100%;
            height: 300px;
        }
    }
    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        h5 {
            margin: 0;
        }
        button {
            padding: 4px 8px;
            border: 1px grey solid;
        }
        button.active {
            background-color: hotpink;
            color: ivory;
        }
    }
}
